
<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table' *ngIf="forecasts">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.id }}</td>
      <td>{{ forecast.name }}</td>
    </tr>
  </tbody>
</table>

<p>Current count: <strong>{{ currentCount }}</strong></p>

<button (click)="putData(summary)">Send</button>
<input type="text" name="summary" />


